@import "../base";
@import "d-btn";


.content {
	background: url("img/bg.jpg") no-repeat #000 top center;
}

.d-form {
	@include rounded(10px);

	margin: 24px auto;
	padding: 72px 15px 321px;
	width: 810px;
	background-color: rgba(255,255,255, .25);
	position: relative;
	text-shadow: 1px 1px 0 #000;
}

.d-form__header,
.d-form__body,
.d-form__footer {
	background-color: rgba(51,51,51, .5);
}

.d-form__header {
	text-align: center;
	color: #ccc;
	font-size: 24px;
	padding: 15px 15px 5px;

	@include rounded(10px 10px 0 0);
}

.d-form__body {
	font-size: 14px;
	line-height: 17px;
	color: #999;
	padding: 0 15px 13px;

	@include rounded(0 0 10px 10px);
}

.d-form__footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	line-height: 40px;
	padding: 0 15px;
	font-size: 11px;
	color: #999;
}